<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />

    <target name="file" xsi:type="File" fileName="${var:logPath}${var:logName}"
     layout="${date:format=yyyy\-MM\-dd HH\:mm\:ss}|${level}|${stacktrace}|${message}|${exception}" />

    <target name="database" xsi:type="Database" dbProvider="sqlserver" connectionString="server=SomeswaraB;Database=Logs;user id=sa;password=emids@123;Pooling=true;">
      <commandText>
        insert into LogInfo (
        Application, Logged, Level, Message,
        Logger, CallSite, Exception
        ) values (
        @Application, @Logged, @Level, @Message,
        @Logger, @Callsite, @Exception
        );
      </commandText>

      <parameter name="@application" layout="NLogApp" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />

      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console,file,database" />
  </rules>
</nlog>